:root {
    font-size: 10px;
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #FFFF;
    --azul-destaque: #2a7ae4;
    --cinza: #464646;
    --placeholder: #a2a2a2;
    --bg-contato: #Eaf2fd;
}