.main_product .wrapper {
    padding: 0;
}

.wrapper_text {
    max-width: 120rem;
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
}

.main_img {
    width: 100vw;
    height: min(70vw, 300px);
}

.main_product_title {
    color: var(--cinza);
    font-size: 2.2rem;
    font-weight: 500;
}

.main_product_price::before {
    content: 'R$ ';
}

.main_product_price {
    color: var(--cinza);
    font-size: 1.6rem;
    font-weight: 700;
    margin-block: .8rem;
}

.main_product_description {
    color: var(--cinza);
    font-size: 1.4rem;
    font-weight: 400;
}