.contact {
    padding-block: 2rem;
    background: var(--bg-contato);
    
}

.contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.referencia {
    align-items: center;
    display: flex;
    gap: .8rem;
    font-size: 2.4rem;
}

.referencia img {
    height: 2.4rem;
}

.referencia span {
    color: var(--azul-destaque);
}

.links_uteis {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.links_uteis a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--cinza);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border .5s;
}

.links_uteis a:hover {
    border-bottom: 1px solid var(--cinza);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form p {
    margin-bottom: .8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cinza);
}

.label_float {
    margin-bottom: 1.6rem;
}

.input_nome {
    width: 100%;
    height: 6rem;
}

.input_nome,
.textarea_msg {
    padding: .8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--cinza);
    border-radius: .4rem;
    background: white;
    border: none;
}

.input_nome::placeholder,
.textarea_msg::placeholder {
    color: var(--placeholder);
}

.textarea_msg {
    margin-bottom: .8rem;
    resize: vertical;
}

.form button {
    width: 15rem;
    height: 4rem;
}
