nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: .8rem;
    align-items: center;
    text-decoration: none;
    color: var(--cinza);
}

.logo_img {
    height: 1.6rem;
}

.logo_text {
    font-size: 1.6rem;
    font-weight: 700;
}

.logo_text_blue {
    color: var(--azul-destaque);
}

header .login button{
    font-size: 1.4rem;
    font-weight: 600;
    padding: .8rem 4rem;
    cursor: pointer;
    background: none;
    border: 1px solid var(--azul-destaque);
    color: var(--azul-destaque);
    transition: background-color 0.5s;
}

header .login button:hover {
    background-color: var(--azul-destaque);
    color: white;
}

.lupa {
    padding: 1rem;
}