nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.logo_img {
    height: 1.6rem;
}

.logo_text {
    font-size: 1.6rem;
    font-weight: 700;
}

.logo_text_blue {
    color: var(--azul-destaque);
}

.login button{
    font-size: 1.4rem;
    font-weight: 600;
    padding: .8rem 4rem;
    background: none;
    border: 1px solid var(--azul-destaque);
    color: var(--azul-destaque);
}

.lupa {
    padding: 1rem;
}