.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label_float {
    position: relative;
}

.label_float label {
    position: absolute;
    left: 0;
    bottom: .5rem;
    color: var(--cinza);
    transition: 0.5s ease-in-out;
}

.label_float .input {
    min-width: 275px;
    padding: 1.4rem;
    border: 1px solid transparent;
    outline: none;
}

.label_float .input:focus {
    border-bottom: 1px solid #C8C8C8;
}

.input::placeholder {
    font-size: 1.6rem;
    color: var(--placeholder);
}

.login_submit {
    padding: 1rem 3rem;
}
